---
import Root from '../layouts/Root.astro'
import FirstSketch from '@/sketches/first-sketch.svelte'
import CircleOverlayLoop from '@/sketches/circle-overlay-loop.svelte'
import OpticalIllusion from '@/sketches/optical-illusion.svelte'
import ColorfulSpatter from '@/sketches/colorful-spatter.svelte'
import ElementsEverywhere from '@/sketches/elements-everywhere.svelte'
import NormalGrids from '@/sketches/normal-grids.svelte'
import ColourfulGrids from '@/sketches/colourful-grids.svelte'
import Chance from '@/sketches/chance.svelte'
import GaussianDist from '@/sketches/gaussian-dist.svelte'
import PortoPareto from '@/sketches/porto-pareto.svelte'
import PortoParetoCircle from '@/sketches/porto-pareto-circle.svelte'
import NoiseMatrix from '@/sketches/noise-matrix.svelte'
---

<Root title='first sketch'>
  <div class='centering'>
    <FirstSketch client:load />
    <CircleOverlayLoop client:load />
    <OpticalIllusion client:load />
    <ColorfulSpatter client:load />
    <ElementsEverywhere client:load />
    <NormalGrids client:load />
    <ColourfulGrids client:load />
    <Chance client:load />
    <GaussianDist client:load />
    <PortoPareto client:load />
    <PortoParetoCircle client:load />
    <NoiseMatrix client:load />
  </div>
</Root>

<style>
  .centering {
    margin-block: 0;
    margin-inline: auto;
    width: fit-content;
  }
</style>
