---
import Root from '../layouts/Root.astro'
import FirstSketch from '@/sketches/first-sketch.svelte'
import CircleOverlayLoop from '@/sketches/circle-overlay-loop.svelte'
import OpticalIllusion from '@/sketches/optical-illusion.svelte'
import ColorfulSpatter from '@/sketches/colorful-spatter.svelte'
---

<Root title='first sketch'>
  <div class='centering'>
    <FirstSketch client:load />
    <CircleOverlayLoop client:load />
    <OpticalIllusion client:load />
    <ColorfulSpatter client:load />
  </div>
</Root>

<style>
  .centering {
    margin-block: 0;
    margin-inline: auto;
    width: fit-content;
  }
</style>
