---
import '@/styles/global.css'
---

<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ysabeau+Infant:ital@0;1&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap'
      rel='stylesheet'
    />
    <slot name='in-head' />
  </head>
  <body>
    <slot />
  </body>
</html>
